<div class="container">
  <img src="/images/je-mappelle.png" class="banner" alt="didicat banner" />

  <nav>
    <div class="centered-tab-navigation">
      <ul class="nav nav-tabs nav-justified">
        {{li-link 'Home' 'application' classNames="home"}}
        {{li-link 'Friend' 'friends'}}
        {{li-link 'Kittens' 'kittens'}}
        {{li-link 'Plugins' 'plugins'}}
        {{li-link 'Requests' 'requests'}}
        {{li-link 'Configuration' 'config'}}
      </ul>
    </div>
  </nav>

  {{outlet}}

</div>
